<!DOCTYPE html>
<html>
  <head>
    <title>Credit</title>

    <!-- <link rel="stylesheet" href="sakura.css" /> -->

    <script type="importmap">
      {% include 'importmap.json' -%}
    </script>


    <script type="module">
      {% include 'sync.js' -%}
    </script>
  </head>
  <body>
    <div class="todos-example"></div>

    <script type="module">
      {% include 'render.js' -%}
    </script>
  </body>
</html>